* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    background: url(avinash-kumar-G8dtr33xTXY-unsplash.jpg) no-repeat fixed center center;
    background-color: #BD9DEA;
}

header {
    margin: 0;
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    background-color: #F2C76E;
    color: #7A77B9;
    border-bottom: 10px;
    border-color: #ea7186;
}

header h1 {
    text-align: left;
    font-size: 48px;    
}
header nav {
    padding-top: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
    font-size:22px;
    display: inline-block;
    margin-left: 25px;
 }

.col {
    margin:10px;
    background-color: #EBE8E7;
    font-family: 'Josefin Slab', serif;
}

.col h1 {
    color: #ea7186;
    font-size: 40px;

}

.float-left {
    float: left;
    margin-right: 25px;
}