* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    background: url(avinash-kumar-G8dtr33xTXY-unsplash.jpg) no-repeat fixed center center;
    background-color: #BD9DEA;
    margin-bottom: 40px;
}

.navbar.navbar-dark {
    margin: 0;
    padding: 20px;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: 700;
    border-bottom: thick #ea7186 double;
}

.navbar-brand{
    font-size: 30px;
    color: #7A77B9;
}

.col {
    margin:10px;
    background-color: #EBE8E7;
    font-family: 'Josefin Slab', serif;
    border-radius: 1rem;
    border-style: double;
    border-width: medium;
    border-color: #7A77B9;
}

.col h1 {
    color: #ea7186;
    font-size: 40px;
}



.btn.btn-primary {
    background-color: #ea7186
}

.float-left {
    float: left;
    margin-right: 25px;
}
section {
    margin: auto 30px;
}

.card.mx-auto {    
width: 20rem;
height: 32rem;
margin: 1rem;
border: double;
border-radius: 1rem;
border-color: #7A77B9;
}
.footer {
    background-color: #7A77B9;
    text-align: center;
    font-size: 30px;
    word-spacing: 20px;
    border-top:thick #ea7186 double;
}

.fa-github, .fa-linkedin, .fa-envelope{
    color: #EBE8E7;

}

.fa-github:hover, .fa-linkedin:hover, .fa-envelope:hover {
    color:#ea7186;
    opacity: 70%;
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    .img-fluid.img-thumbnail.float-left {
     border: 3px solid #BD9DEA;
     padding: 1rem;
    }
}